/* Assigns:
Text color #3D3D3D to elements inside body tags
Text color #FF0000 to any elements of class .red inside body tags
*/
$text-color: #3D3D3D;
$text-red: #FF0000;

body {
	color: $text-color;
	.red {
		color:$text-red;
	}
}
