/* Assigns:
Margin left and right at 10px to body tags
Margin left and right at 15px to div tags
*/
@mixin margin($property) {
	margin-left: $property;
	margin-right: $property;
}

body {
	@include margin(10px);
}

div {
	@include margin(15px);
}
