/* Assingning colors */

html {
	scroll-behavior: smooth;
}

body {
	background-color: #161616;
}

a {
	background-color: #161616;
}
visually-hidden {
	display: none;
}

.card-category {
	color: #D73953;
}

.section-tagline{
	color: #D73953;
}
